Repository flaport/sax, pull requests merged in 2025-06, with the labels that each got.

#51 Refactoring of codebase: better types, array instances, ...
  .pre-commit-config.yaml
  justfile
  mkdocs.yml
  nbs/examples/01_quick_start.ipynb
  nbs/examples/02_all_pass_filter.ipynb
  nbs/examples/03_circuit_from_yaml.ipynb
  nbs/examples/04_multimode_simulations.ipynb
  nbs/examples/05_thinfilm.ipynb
  nbs/examples/06_additive_backend.ipynb
  nbs/examples/07_layout_aware.ipynb
  nbs/examples/08_sparse_coo.ipynb
  nbs/examples/09_forward_only_backend.ipynb
  nbs/examples/10_wavelength_dependent_neff.ipynb
  nbs/examples/11_hierarchical_circuits.ipynb
  nbs/internals/01_models.ipynb
  nbs/internals/02_circuit.ipynb
  nbs/internals/03_backends.ipynb
  pyproject.toml
  src/sax/__init__.py
  src/sax/backends/__init__.py
  src/sax/backends/additive.py
  src/sax/backends/filipsson_gunnar.py
  src/sax/backends/forward_only.py
  src/sax/backends/klu.py
  src/sax/circuit.py
  src/sax/constants.py
  src/sax/interpolation.py
  src/sax/loss.py
  src/sax/models.py
  src/sax/multimode.py
  src/sax/netlist.py
  src/sax/s.py
  src/sax/saxtypes.py
  src/sax/saxtypes/__init__.py
  src/sax/saxtypes/anymode.py
  src/sax/saxtypes/core.py
  src/sax/saxtypes/into.py
  src/sax/saxtypes/multimode.py
  src/sax/saxtypes/netlist.py
  src/sax/saxtypes/settings.py
  src/sax/saxtypes/singlemode.py
  src/sax/utils.py
  src/tests/nbs/00_typing.ipynb
  src/tests/nbs/01_utils.ipynb
  src/tests/nbs/02_multimode.ipynb
  src/tests/nbs/03_backends.ipynb
  src/tests/test_nbs.py
  src/tests/test_netlist.py
Labels: feat

#52 More models
  justfile
  nbs/examples/01_quick_start.ipynb
  nbs/examples/02_all_pass_filter.ipynb
  nbs/examples/03_circuit_from_yaml.ipynb
  nbs/examples/04_multimode_simulations.ipynb
  nbs/examples/05_thinfilm.ipynb
  nbs/examples/06_additive_backend.ipynb
  nbs/examples/07_layout_aware.ipynb
  nbs/examples/08_sparse_coo.ipynb
  nbs/examples/09_forward_only_backend.ipynb
  nbs/examples/10_wavelength_dependent_neff.ipynb
  nbs/examples/11_hierarchical_circuits.ipynb
  nbs/internals/01_models.ipynb
  nbs/internals/02_circuit.ipynb
  nbs/internals/03_backends.ipynb
  nbs/internals/04_all_models.ipynb
  nbs/internals/Untitled.ipynb
  src/sax/__init__.py
  src/sax/models.py
  src/sax/models/__init__.py
  src/sax/models/bends.py
  src/sax/models/couplers.py
  src/sax/models/crossings.py
  src/sax/models/factories.py
  src/sax/models/mmis.py
  src/sax/models/ports.py
  src/sax/models/splitters.py
  src/sax/models/straight.py
  src/sax/saxtypes/__init__.py
  src/sax/saxtypes/core.py
  src/tests/test_circuit.py
  src/tests/test_netlist.py
Labels: feat

#53 Fix docs
  .pre-commit-config.yaml
  docs/api/circuit.md
  docs/api/models.md
  docs/api/netlist.md
  docs/api/sax.md
  docs/api/types.md
  docs/index.md
  mkdocs.yml
  nbs/examples/01_quick_start.ipynb
  nbs/examples/02_all_pass_filter.ipynb
  nbs/examples/03_circuit_from_yaml.ipynb
  nbs/examples/04_multimode_simulations.ipynb
  nbs/examples/05_thinfilm.ipynb
  nbs/examples/06_additive_backend.ipynb
  nbs/examples/07_layout_aware.ipynb
  nbs/examples/08_sparse_coo.ipynb
  nbs/examples/09_forward_only_backend.ipynb
  nbs/examples/10_wavelength_dependent_neff.ipynb
  nbs/examples/11_hierarchical_circuits.ipynb
  nbs/internals/01_models.ipynb
  nbs/internals/02_circuit.ipynb
  nbs/internals/03_backends.ipynb
  nbs/internals/04_all_models.ipynb
  nbs/internals/Untitled.ipynb
  pyproject.toml
  src/sax/backends/__init__.py
  src/sax/backends/additive.py
  src/sax/backends/filipsson_gunnar.py
  src/sax/backends/forward_only.py
  src/sax/backends/klu.py
  src/sax/circuit.py
  src/sax/constants.py
  src/sax/loss.py
  src/sax/models/bends.py
  src/sax/models/couplers.py
  src/sax/models/crossings.py
  src/sax/models/factories.py
  src/sax/models/mmis.py
  src/sax/models/ports.py
  src/sax/models/splitters.py
  src/sax/models/straight.py
  src/sax/multimode.py
  src/sax/netlist.py
  src/sax/s.py
  src/sax/saxtypes/anymode.py
  src/sax/saxtypes/core.py
  src/sax/saxtypes/into.py
  src/sax/saxtypes/multimode.py
  src/sax/saxtypes/netlist.py
  src/sax/saxtypes/settings.py
  src/sax/saxtypes/singlemode.py
  src/sax/utils.py
  src/tests/nbs/00_typing.ipynb
  src/tests/nbs/01_utils.ipynb
Labels: docs

#54 Better refs in docs.
  docs/cross_ref.py
  justfile
  nbs/examples/01_quick_start.ipynb
  nbs/examples/02_all_pass_filter.ipynb
  nbs/examples/03_circuit_from_yaml.ipynb
  nbs/examples/04_multimode_simulations.ipynb
  nbs/examples/05_thinfilm.ipynb
  nbs/examples/06_additive_backend.ipynb
  nbs/examples/07_layout_aware.ipynb
  nbs/examples/08_sparse_coo.ipynb
  nbs/examples/09_forward_only_backend.ipynb
  nbs/examples/10_wavelength_dependent_neff.ipynb
  nbs/examples/11_hierarchical_circuits.ipynb
  nbs/internals/01_models.ipynb
  nbs/internals/02_circuit.ipynb
  nbs/internals/03_backends.ipynb
  nbs/internals/04_all_models.ipynb
  src/sax/__init__.py
  src/sax/circuits.py
  src/sax/models/__init__.py
  src/sax/models/couplers.py
  src/sax/models/crossings.py
  src/sax/models/factories.py
  src/sax/models/mmis.py
  src/sax/models/splitters.py
  src/sax/models/straight.py
  src/sax/netlists.py
  src/sax/ports.py
Labels: docs

#55 fix performance regression
  src/sax/s.py
Labels: bug

#56 add plots for docstrings
  .github/workflows/docs.yml
  .gitignore
  docs/.gitignore
  docs/index.md
  mkdocs.yml
  pyproject.toml
  src/sax/models/bends.py
  src/sax/models/couplers.py
  src/sax/models/mmis.py
  src/sax/saxtypes/anymode.py
  src/sax/saxtypes/core.py
  src/sax/saxtypes/into.py
  src/sax/saxtypes/multimode.py
  src/sax/saxtypes/netlist.py
  src/sax/saxtypes/settings.py
  src/sax/saxtypes/singlemode.py
Labels: bug, docs
